<h2>チャット</h2>
<h3>部屋作成</h3>
<form method="post" action="/rooms/create">
    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
	<input type="text" placeholder="Room名" name="room_name" id="room_name" autocomplete="off">
	<input type="hidden" id="password" name="room_password">
</form>

<h3>部屋一覧</h3>
<% @rooms.each do |room| %>
	<div>
		<!-- <%= link_to room.name, room_path(room.id) %> -->
		<span data-room="<%= room.id %>"><%= room.name %></span>
		<% if current_user.id == 1 %>
			<%= link_to "削除", room_path(room.id), method: :delete %>
		<% end %>
	</div>
<% end %>

<script>
	$(function() {
    $("input").on("keydown", function(e) {
        if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
        	if ($('#room_name').val() != '') {
		        password = window.prompt('他の人に見られないようにパスワードを入力(空なら設定しない)');
		        $('#password').val(password);
		      } else {
		      	return false;
		      }
        } else {
          return true;
        }
    });

    $(document).on('click', 'span', function() {
    	var data = $(this).data('room');
    	$.ajax({
    		url: './rooms/check_password/' + data,
    		type: 'get',
    		dataType: 'text'
    	})
    	.done(function(e) {
    		if (e) {
    			password = window.prompt('パスワードを入力してください');
    			if (e == password) {
    				$.ajax({
    					url: './rooms/create_session',
    					type: 'post',
    					data: {
                "room_id": data
            	}
    				})
    				.done(function() {
	    				window.location.href = './rooms/' + data;
    				})
    			} else {
    				alert('パスワードが違います。');
    			}
    		} else {
    			window.location.href = './rooms/' + data;
    		}
    	})
    })
	})
</script>